body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: rgb(247, 241, 241);
}

.table-styl {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    color: rgb(247, 241, 241);
}

.table-head {
    border-bottom: 5px double rgba(71, 64, 80, 0.918);
    background-color: rgba(143, 115, 161, 0.288);
    padding: 3px;
}

.table-styl th,
.table-styl td {
    border: none;
    padding: 5px;
}

.button-styl {
    display: flex;
    justify-content: space-between;
}

.highlighted-button {
    font-weight: 500;
    margin-right: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    outline-style: 0.5px solid;
    transition: background-color 0.8s ease, border 0.3s ease;
}

.highlighted-text {
    color: rgba(169, 231, 24, 0.979);
}

.text-right {
    text-align: right !important;
    white-space: nowrap;
}

.text-center {
    text-align: center;
    white-space: nowrap;
}

.narrow-column {
    width: 50px;
}

.narrow-list {
    max-width: 750px;
}

.statistic {
    display: flex;
    justify-content: flex-start;
    gap: 32px 16px;
}

.image {
    background-image: url("./images/flower.jpg");
    background-size: cover;
    width: 70%;
    height: 50%;
    margin-top: 60px;
    margin-left: 110px;
}

.image-person {
    background-image: url("./images/teamwork.jpg");
    background-size: cover;
    width: 70%;
    height: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filtr-button {
    color: rgba(36, 154, 201, 0.87);
    text-align: center;
    width: 200px;
    border: 0.1px solid rgba(99, 186, 236, 0.979);
}

.filtr-button:hover {
    background-color: rgba(64, 127, 199, 0.87);
}

.display-button {
    color: rgba(169, 231, 24, 0.979);
    border: 0.1px solid rgba(143, 170, 88, 0.979);
}

.display-button:hover {
    background-color: rgba(151, 145, 85, 0.87);
    border: 0.1px solid rgba(169, 231, 24, 0.979);
}

.edit-button {
    color: rgba(27, 15, 190, 0.945);
    border: 0.1px solid rgba(39, 7, 155, 0.87);
}

.edit-button:hover {
    background-color: rgba(35, 27, 155, 0.87);
    border: 0.1px solid rgba(118, 137, 243, 0.87);
}

.remove-button {
    color: rgba(223, 18, 18, 0.986);
    border: 0.1px solid rgba(245, 47, 63, 0.87);
}

.remove-button:hover {
    background-color: rgba(209, 36, 36, 0.87);
}

.save-button {
    margin-top: 10px;
    color: rgba(221, 214, 230, 0.87);
    border: 0.1px solid rgba(192, 178, 243, 0.87);
}

.save-button:hover {
    background-color: rgba(33, 11, 231, 0.836);
}